/* Navigation bar start */
.navbar {
  background-color: #608180;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #43655a;
}

/* Current/active navbar link */
.active {
  background-color: #43655a;
}

/* Create a right-aligned (split) link inside the navigation bar */
.navbar a.split {
  float: right;
  background-color: #43655a;
  color: white;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

body {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d4d7dc;
}

/* Navigation bar end */

/* HREF start*/
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;

}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/* HREF end */

/* General content start*/
.box {
  width: 70%;
  border: 0px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;
  background-color: #f7f7f7;
}

.textbox {
  padding: 10px;
  border: 3px solid #608180;
  margin: auto;
  width: 70%;
  border-radius: 15px;
}

div.gallerybig {
  text-align: center;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}

div.gallerybig:hover {
  border: 1px solid #777;
}

div.gallerybig img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.gallery {
  text-align: center;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 323px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.videobox {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* General content end */
