/* General content start*/

body {
  font-size: large;
  font-family: "Roboto", sans-serif;
  background-color: #d4d7dc;
}

@media only screen and (max-width: 670px) {
  body {
    font-size: smaller;
  }
}

button {
  border: none;
  border-color: #43655a;
  background-color:#f7f7f7;
  padding: 5 px;
  margin: 5px;
  min-height: 30px;
  border-radius: 8px;
}

button:hover {
  border: solid;
  border-color: #43655a;
}

ul li {
  margin-bottom: 10px;
}

/* Table start*/

.hiraganatable {
  font-size: larger;
  background-color: #d4d7dc;
  border-collapse: collapse;
  text-align: center;
}

.hiraganatable th,
td {
  margin: auto;
  padding: 10px;
  border: 2px solid black;
}

.hiraganatable .light {
  color: #777;
}

table p {
  margin: 0px;
}

@media only screen and (max-width: 670px) {
  .hiraganatable th,
  td {
    margin: auto;
    padding: 5px;
    border: 1px solid black;
  }

  table p {
    font-size: small;
  }
}

/* Table end */

.box {
  width: 75%;
  border: 0px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  padding: 15px;
  background-color: #f7f7f7;
}

@media only screen and (max-width: 670px) {
  .box {
    width: 90%;
  }
}

.box img {
  width: 100%;
  height: auto;
}

.box .textbox {
  padding: 10px;
  border: 2px solid #608180;
  border-radius: 10px;
  margin: auto;
  width: 70%;
}

div.gallerybig {
  text-align: center;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  background-color: #d4d7dc;
}

div.gallerybig:hover {
  border: 1px solid #777;
}

div.gallerybig img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.gallerywrapper {
  overflow: auto;
  width: auto;
  margin: auto;
}

div.gallery {
  text-align: center;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 323px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 85%;
  margin-top: 30px;
  margin-bottom: 0px;
  height: auto;
}

div.desc {
  padding: 10px;
  text-align: center;
}

div.videobox {
  text-align: center;
}

/* General content end */

/* HREF start*/
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/* HREF end */
/* Topnav start */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #608180;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #43655a;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #43655a;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  background-color: #04aa6d;
  color: white;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 670px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 670px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* Topnav end */

/* Hiragana Drill */
.flex-container {
  width: 100%;
  margin: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d4d7dc;
}

.flex-container .flex-container-row {
  display: flex;
  flex-direction: row;
  background-color: #d4d7dc;
  align-items: center;
  justify-content: center;
}

.flex-container > div {
  min-height: 60px;
  max-height: 30px;
  margin: 1px;
  padding: 5px;
  width: 80%;
  text-align: center;
  background-color: #d4d7dc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container > p {
  margin: 5px;
  padding: 5px;
}

.flex-container-row button {
  width: 120px;
}

@media only screen and (max-width: 600px) {
  .flex-container-row button {
    width: 90px;
    height: 40px;
    font-size: small;
  }
}

.divKanapracticeElement {
 display: none;
 border-bottom: 2px solid gray;
}


.flexboxContainer {
  width: 100%;
  margin: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(190, 121, 31);
}

.flexboxRowContainer {
  display: flex;
  flex-direction: row;
  background-color: #d4d7dc;
  align-items: center;
  justify-content: center;
}

.flexboxColumnContainer {
  display: flex;
  flex-direction: column;
  background-color:#b700bd;
}
.flexboxColumnContainer .flexboxField{
  background-color:#608180;

}

.flexboxRowContainer button {
  width: 120px;
}